version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: urbanSphere-frontend
    ports:
      - '3000:3000'
    environment:
      - NODE_ENV=production
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run dev
